
  # # # # # # # # # # # # # # # # # # #
  #                                   #
  #   donkeypunch@.service template   #
  #                                   #
  # # # # # # # # # # # # # # # # # # #


[Unit]
Description=DonkeyPunch [%I]
Wants=network-online.target
After=network.target network-online.target
# attempt to restart forever
StartLimitIntervalSec=0

[Service]
# do /etc/default/donkeypunch@yourhost for example
Environment=_ENV=/etc/default/donkeypunch@%i
ExecStart=/usr/local/bin/donkeypunch
RestartSec=45
Restart=on-failure
# exit status 1 is service failure, do not restart
RestartPreventExitStatus=1

[Install]
WantedBy=multi-user.target

